:root {
    --color1: #023859;
    --color2: #048ABF;
    --color3: #F2B705;
    --color4: #F27507;
    --color5: #8C3503;
}

* {
    font-family: "Kanit", sans-serif;
    font-weight: normal;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 100vh;
    background: url('../assets/img/bg_header_small.webp') center/cover fixed;
    color: #fff;
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative;   
}

header::after {
    content: "";
    background-color: #0d0d0d86;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 800px) {
    header {
        background-image: url('../assets/img/bg_header_big.webp');
    }
}

.header-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 4.8rem;
    text-align: center;
    padding: 1rem;
    flex-basis: 36%;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 6.4rem;
        flex-basis: 2.6rem;
    }
}

.header-btn {
    display: inline-block;
    font-size: 2.4rem;
    background-color: var(--color4);
    padding: 1.6rem;
    width: 25rem;
    /* border: 1px solid var(--color3); */
    border-radius: .6rem;
    text-align: center;

}

h2 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 0 15px #000;
}
