@keyframes menuShow {
    0% {
        opacity: 0;
    } 
    100% {
       opacity: 1;
    }
}


* {
    font-family: "Kanit", sans-serif;
    font-weight: normal;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
}

a {
    text-decoration: none;
    color: inherit;
}