@use 'variables' as *;

nav {
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: $color1;
}

.logo {
    flex-basis: 50%;
    padding-left: 3rem;

    img {
        width: 6rem;
    }
}

.menu {
    flex-basis: 50%;
    text-align: right;
    padding-right: 3rem;
    
    span {
    color: $color3;
    font-size: 5.4rem;
    }
}
